@import "tailwindcss";

:root {
    --parchment: #f5e8c7;
}

body {
    font-family: "Lora", serif;
    background-color:rgb(0, 0, 27);
    color: var(--parchment);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}